/*========================================
        Stylization type: #
========================================*/
/*========== REM measure ==========*/
/* For screens bigger than 1080px: 16px(defalt) */
/* For screens smaller than 1080px*/
@media (max-width: 1080px) {
    html {
        font-size: 93.75%; /* 15px */
    }
}
/* For screens smaller than 720px*/
@media (max-width: 720px) {
    html {
        font-size: 87.5%; /* 14px */
    }
}



/*==================== 
    Variables
====================*/
:root {
    /*===== # =====*/
}



/*==================== 
    Global
====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}



/*==================== 
    
====================*/
/*========== # ==========*/
/*===== # =====*/